// Dashboard Styles

//Clients

.hero--nav {
	margin-bottom: 0 !important;
}

nav {
	background-color: $main !important;
	border: none !important;
	border-radius: 0 !important;
	a {
		color: $white !important;
	}
}

.clients--main-create,
.clients--main-edit,
.clients--main-show {
	padding-bottom: 20px;
}

@media (min-width: $mobile) {

	.clients--main-index {
		div#index--filters-group {
			padding-top: 30px;
			padding-bottom: 30px;
			.col-md-4 {
				padding-left: 0px;
			}
		}
		
		button {
			margin-bottom: 15px;
		}
	}

	.clients--main-show .container a {
    	z-index: 9999;
	}
	

	.hero--nav {
		margin-bottom: 0 !important;
	}

	nav {
		background-color: $main !important;
		border: none !important;
		border-radius: 0 !important;
		a {
			color: $white !important;
		}
	}

	.home--body {
		background-image: url('/../site-images/home.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.home--jumbotron {
			background-color: rgba(0, 0, 0, 0.57);
			h1 {
				text-align: center;
				padding-bottom: 30px;
			}

			h1,h2,h3,h4,p,li {
				color: white;
			}
		}

		.container-fluid {
			margin-top: 50px;
		}

	}
}

@media (min-width: $tablet) {
	.home--body {
		background-image: url('/../site-images/home.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		.home--jumbotron {
			background-color: rgba(0, 0, 0, 0.57);
			h1 {
				text-align: center;
			}
			padding: 100px;

			p {
				padding-top: 20px;
				padding-bottom: 20px;
			}

			h1,p {
				color: white;
			}
		}

		.container-fluid {
			margin-top: 50px;
		}
	}
}
