@media (min-width: $mobile) {
    .hero--slider {
        .hero--slider-overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.68);
            position: absolute;
            z-index: 1;
        }
        .carousel-caption {
            position: absolute;
            top: 31px;
            h1 {
                font-size: 30px;
            }
        }

        .carousel-inner {
            max-height: 500px;
            img {
                width: 100%;
            }
        }
        margin-bottom: 20px;
    }
}

@media (min-width: $mobile-l) {
    .hero--slider {
        .carousel-caption {
            position: absolute;
            h1 {
                font-size: 60px;
            }
        }
    }
}

@media (min-width: $tablet) {
    .hero--slider {
        .carousel-caption {
            position: absolute;
            top: 144px;
            h1 {
                font-size: 60px;
            }
        }
    }
}